.navbar {
  grid-column: 1 / -1;
  //   background-color: red;

  display: grid;

  grid-template-columns: repeat(8, minmax(6rem, 1fr));

  padding: 2.5rem;

  box-shadow:$box-shadow-subtle ;

  align-items: center;

  &__logo {
    grid-column: 1 / 2;
    text-align: center;
    font-size: 2rem;
  }

  &__search {
    grid-column: 3 / 6;
    
    display: flex;
    align-items: center;


    &--input{

      width: 80%; 
      border-radius: 2rem;
      padding: 1rem 2rem;
      border: none;
      background: #f4f2f2;
      transition: all .2s;


    
    }

    &--btn{
      width:2rem;
      height: 2rem;
      fill: #999;
      margin-left: -4rem;
      transition: all .2s;
      cursor: pointer;

      &:active{
        transform: translateY(2px);
      }
    }
  }

  &__links {

    grid-column: 6 / 7;
    font-size: 1.5rem;
    &--link{
      margin-right: 4rem;
      text-decoration: none;
      color: black;
    

    }
  }

  &__user {
    position: relative;
    grid-column: 8 / 9;
    text-align: center;

    .navbar__user__dropdown{

    
      position: absolute;
      box-shadow: $box-shadow-subtle;
      // padding: 1rem 2rem;
      background-color: white;
      
      width: 75%;

    &--link{
      font-size: 1.6rem;
      color: black;
      text-decoration: none;

      transition: all .2s;

    
      width: 100%;
      display: block;
      padding: .3rem 1rem;



      &:not(:last-child){
        // border-bottom: 1px solid black;
      }

      &:hover{
        background-color: #d3d6d9;;
      }
    }

      &::before{
        position: absolute;
        top: -.5rem;
        left: 1.4rem;
        content: "";
        width: 0; 
        height: 0; 
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        
        border-bottom: 5px solid white;
      }
      

      
    }

 

    &__profile{
      width: 4rem;
      height: 4rem;

 
      border-radius: 50%;

      display: flex;
      justify-content: center;
      align-items: center;
      transition: all .2s;

      cursor: pointer;

      &:hover{
        background-color:#d3d6d9;
      }

      &--img{
        width: 2rem;
        height: 2rem;
  
        fill: #404142;

    

      }
    

      
   

    }
  }
}
