.navbar {
  grid-column: 1 / -1;
  //   background-color: red;

  display: grid;

  grid-template-columns: repeat(8, minmax(6rem, 1fr));

  padding: 3rem;

  &__logo {
    grid-column: 1 / 2;
  }

  &__search {
    grid-column: 3 / 5;
  }

  &__links {
  }

  &__user {
  }
}
