.navbar {
  grid-column: 1 / -1;
  //   background-color: red;

  display: grid;

  grid-template-columns: repeat(8, minmax(6rem, 1fr));

  padding: 2.5rem;

  box-shadow:$box-shadow-subtle ;

  align-items: center;

  &__logo {
    grid-column: 1 / 2;
    text-align: center;
    font-size: 2rem;
  }

  &__search {
    grid-column: 3 / 6;
    
    display: flex;
    align-items: center;


    &--input{

      width: 80%; 
      border-radius: 2rem;
      padding: 1rem 2rem;
      border: none;
      background: #f4f2f2;
      transition: all .2s;


    
    }

    &--btn{
      width:2rem;
      height: 2rem;
      fill: #999;
      margin-left: -4rem;
      transition: all .2s;
      cursor: pointer;

      &:active{
        transform: translateY(2px);
      }
    }
  }

  &__links {

    grid-column: 6 / 7;
    font-size: 1.5rem;
    &--link{
      margin-right: 4rem;
      text-decoration: none;
      color: black;
    

    }
  }

  &__user {

    grid-column: 8 / 9;
    text-align: center;

 

    &__profile{
      width: 4rem;
      height: 4rem;

 
      border-radius: 50%;

      display: flex;
      justify-content: center;
      align-items: center;
      transition: all .2s;


      &:hover{
        background-color:#d3d6d9;
      }

      &--img{
        width: 2rem;
        height: 2rem;
  
        fill: #404142;

      }
    

      
   

    }
  }
}
