.section-login{
    display: grid;
    
    //column tracks
    //8 column layout
    //the 1fr is how we are going to center the 8 columns with repeat in the middle
    grid-template-columns: repeat(10, 10vh);
    
    grid-template-rows: repeat(10, 10vh);
}